@media screen and (max-width:1000px){
    body{
        background-color: cyan;
    }


nav ul{
    font-size: 4vh;
    padding: 4vh 2vh;
    flex-direction: column;
}

nav ul li{
    padding: 0vh 3vw;
}
.logo{
    flex-direction: column;
}

.logo img{
    min-width: 150px;
    min-height: 12vh;
}
/* .slider{
    height:23vh;
} */
.card-item img{
    display: flex;
    justify-content: space-between;
    width: 4fr;
}
.my-1{
    margin: 2px;
    font-size: 12px;
    text-align: center;
}
}