@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --main-bg-color:#2a9fa5;  
    /* sets the value of var() */
}
*{  margin: 0;  padding: 0;}

header{
    /* display:flex; */
 height:20vh;
background: var(--main-bg-color); /*helps to set a value to a number of things in a single go*/
border: 0.5vh solid #338b99;
font-family: 'Lato','arial';
 top:0vh;
position: sticky;
}

nav{
    display: flex;
    /* height:20vh;   */
    justify-content: space-between;

}

nav ul{
    height: 8vh;
    display:flex;
    align-items: center; 
    font-size: 5vh;
    padding:9vh 0px;
    

}
nav ul li{
    list-style: none;
    padding:0px 30px;
    
}

nav ul li a{
    color:rgba(0, 255, 229, 0.844);
    text-decoration: none;
    cursor: pointer;
}
nav ul li a:hover{
    color:whitesmoke;
     font-weight: bolder;
     
}

.logo{
    display:flex;
    height:20vh;
    align-items: center;
}
.logo img{
    width:120px;
    height:18vh;
}
.search{
    display:inline-flex;
    align-self:flex-end;
    padding:15px 30px;
}
.search input{
   
    width:30vw;
    height:30px;
    border-radius: 20px;
    
}

.slider{
   margin: 12px auto;
   width:80vw;
   overflow: hidden;
}


.cards{
    display:flex;
    margin: auto;
    max-width: 80vw;
    
}

h2{
    font-family: 'Lato','arial';
}
.card{
    display: flex;
    justify-content:flex-start;
    margin: 37px 20px;
    overflow: scroll;
}
.card-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width:15vw;
    margin: 0px 15px;
}

.container{
    min-height: calc(100vh - 20vh - 12vh);
}
footer{
    height:12vh;
    background-color:var(--main-bg-color);;
    color:aliceblue;
    font-family: 'Lato','arial';
    font-size: smaller;
    
}
